@model RomeoTracker.Models.Entities.PetImage
@{
    Layout = null;
}

<div class="">
    <!--  <input type="file" name="@(ViewData.ModelMetadata.PropertyName).Picture" id="@(ViewData.ModelMetadata.PropertyName).Picture" /> -->

    <input type="file" name="image" id="image" />

    @if (Model != null && Model.Picture != null) {
        <img src="data:@(Model.ImageMimeType);base64,@(Convert.ToBase64String(Model.Picture))" alt="@Model.Name" />   
    }

</div>

<script type="text/javascript">
    /*
require([
    'dojo/parser',
    'dojo/dom',
    'dijit/registry',
    'dojo/ready',
    'dojox/form/Uploader',
    'dojox/form/uploader/FileList',
    'dojox/form/uploader/plugins/HTML5',
    'dojo/domReady!'
], function(parser, dom, registry, ready){
    var dropTarget = dom.byId('dropTarget'), uploader;
    parser.parse().then(function(){
        // You need to use dojox.form.Uploader, as in dojo 1.8, the module is not fully AMD compliant yet.
        uploader = new dojox.form.Uploader({
            name:'uploadedfile',
            label:'Select Some Files',
            multiple:true,
            force:'html5'
        }, 'uploader');

        if(require.has('file-multiple')){
            debugger;
            console.debug("Adding a new drop target");
            registry.byId('uploader').addDropTarget(dropTarget);
        }
    });
}); */

    </script>
